@import 'defaults.scss';

@mixin default-padding {
	padding: 10px 15px;
}

@mixin row-container() {
	> * + * {
		margin-top: 1.5rem;
	}
}

@mixin column-container($spread: true, $vertically-center: false) {
	display: flex;
	@if $spread {
		> * {
			flex: 1 0 0;
		}
	}
	@if $vertically-center {
		align-items: center;
	}
	> * + * {
		margin-left: 1.5rem;
	}
}

@mixin fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin fill-parent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section {
	@include row-container();

}
.section-horizontal {
	@include column-container();
}

.vertical-resize {
	position: relative;
	&__handle {
		position: absolute;
		height: 20px;
		left:0;
		right:0;
		top: -10px;
		cursor: row-resize;
	}
}

.property-list {
	overflow: auto;
	width: 100%;
	padding: 1rem 0;
	@mixin row-item {
		float: left;
		height: 2.25rem;
		line-height: 2.25rem;
		padding: 0px 0.5rem;
	}
	dt {
		@include row-item;
		width: 200px;
		text-align: right;
		font-weight: bold;
		clear: left;
	}
	dd {
		@include row-item;
	}
}