@import 'defaults.scss';

@mixin default-padding {
	padding: 10px 15px;
}

@mixin row-container() {
	> * + * {
		margin-top: 1.5rem;
	}
}

@mixin column-container() {
	display: flex;
	> * {
		flex: 1 0 0;
	}
	> * + * {
		margin-left: 1.5rem;
	}
}

@mixin fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin fill-parent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section {
	@include row-container();
}

.vertical-resize {
	position: relative;
	&__handle {
		position: absolute;
		height: 20px;
		left:0;
		right:0;
		top: -10px;
		cursor: row-resize;
	}
}