@import "modal.scss";

.component-editor {
	@include fill-parent;
	display: flex;
	flex-direction: column;

	&__actions-panel {
		@include default-padding;
		height: 50px;
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		border-bottom: solid 1px $section-border;

		> * + * {
			margin-left: 1rem;
		}

		& > * {
			flex: 0 0 auto;
		}
		.spacer {
			flex: 1 0 auto;
		}
	}

	&__script-panel {
		border-top: solid 1px $section-border;
		flex: 0 0 auto;
		height: 200px;
	}

	&__middle-row {
		display: flex;
		flex: 0 1 100%;
	}

	&__edit-panel {
		border-left: solid 1px $section-border;
		width: 300px;
		@include default-padding;
		@include row-container;
	}

	&__components {
		padding-top: 1rem;
		flex: 1 0 auto;
		overflow: auto;
	}
}

.component-inserter {
	.component-inserter__button {
		text-align: center;
		display: block;
		cursor: pointer;
	}
}

.component-inserter-modal {
	@include modal-container;

	display: none;
	justify-content: center;
	align-items: center;

	&--shown {
		display: flex;
	}

	&__background {
		@include modal-background;
	}

	&__modal {
		@include modal;

		@include row-container;

		width: 500px;
		height: 500px;
	}
}

.component-placeholder {
	@include section-style;

	min-height: 2rem;
	position: relative;
	padding: 25px 10px 10px;

	&__header {
		position: absolute;
		top: 0px;
		left: 5px;
		display: flex;
	}

	&__label {
		font-size: 0.75rem;
	}

	&__action {
		@include muted-action;
	}

	&--selected {
		border-color: $section-focused-border;
	}
}


.script-editor {
	@include default-padding;
	@include row-container;
}

.variable-option {
	> * + * {
		margin-top: 1.5rem;
	}
}
.variable-type, .variable-binding {
	display: flex;
	align-items: center;
	> * + * {
		margin-left: 1.5rem;		
	}
}

.code-editor {
	position: relative;
	width: 500px;
	height: 300px;
}

.variable-list {
	border: solid 1px #ddd;
	> * + * {
		border-top: solid 1px #ddd;
	}
	> * {
		@include default-padding;
	}
}

.variable-editor {
	> * + * {
		margin-top: 1.5rem;
	}
}

.computed-editor {
	@include row-container;
	&__variable-parameter-adder {
		@include column-container;
	}	
}