@import "colors.scss";

@mixin modal-container {
	@include fullscreen;
	z-index: 10000;
}

@mixin modal-background {
	@include fill-parent;
	background-color: $modal-background;
	z-index: -1;
}

@mixin modal {
	background-color: $default-background;
	@include section-style();
}